name: Sonarqube
on:
  workflow_dispatch:
  page_build:
  release:
    types:
      - created

jobs:
  sonarqube-analysis:

    env:
      BUILD_CONFIG: 'Debug'
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2.0.1
      - name: Install Java 17
        uses: actions/setup-java@v5
        with:
            distribution: 'microsoft' 
            java-version: '17'
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
           dotnet-version: | 
              6.0.x
              8.0.x
      - name: Clear NuGet cache
        run: dotnet nuget locals all --clear
      - name: Install SonarQube Tools
        run: dotnet tool install --global --ignore-failed-sources dotnet-sonarscanner
      - name: Install Coverlet Tools
        run: dotnet tool install --global --ignore-failed-sources coverlet.console
      - name: Prepare analysis on SonarQube
        run: dotnet sonarscanner begin /o:"afonsoft" /k:"QrCode.Core" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.login=${{secrets.SONNAR_TOKEN}} /d:sonar.scm.provider=git /d:sonar.coverage.exclusions="**Test*.cs" /d:sonar.cs.vstest.reportsPaths=resultTest/*.trx /d:sonar.cs.opencover.reportsPaths=/coverage.opencover.xml
      - name: Build
        run: dotnet build QRCoder.Core.sln --configuration Debug
      - name: Run QrCodeCore.Tests
        run: dotnet test QRCoder.Core.Tests/QRCoder.Core.Tests.csproj --collect:"Code Coverage" --logger "trx;LogFileName=QRCoder.Core.Tests.trx" --results-directory resultTest/ --no-build --no-restore --configuration debug -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=cobertura
      - name: Run Code Analysis
        run: dotnet sonarscanner end /d:sonar.login=${{secrets.SONNAR_TOKEN}}
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
            CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      
